.main-container {
  margin: 0px;
  padding: 0px;
  background-color: #9ba9eb;
  min-height: 100vh;
  background-size: cover;
  padding: 30px;
}

.password-manager-image {
  height: 40px;
}

@media (max-width: 576px) {
  .main-container {
    padding: 10px;
  }
}
