.hex0b69ff {
  background-color: #0b69ff;
}
.hex94a3b8 {
  background-color: #94a3b8;
}
.hexb6c3ca {
  background-color: #b6c3ca;
}
.hex7683cb {
  background-color: #7683cb;
}
.hexf59e0b {
  background-color: #f59e0b;
}
.hex10b981 {
  background-color: #10b981;
}
.hexf97316 {
  background-color: #f97316;
}
.hex14b8a6 {
  background-color: #14b8a6;
}
.hexb91c1c {
  background-color: #b91c1c;
}
.profile {
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}
.password-manager-container {
  background-color: #5763a5;
  padding: 10px;
  color: #fff;
  font-family: 'Roboto';
  border-radius: 20px;
  width: 90vw;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #a1a1a1;
}
.yourpasswords {
  font-size: 20px;
}
.passwords-count {
  border: solid 1px;
  font-weight: normal;
  font-size: 12px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  text-align: center;
  max-height: 15px;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: transparent;
  height: 30px;
  max-height: 30px;
}
.search-image {
  width: 40px;
  height: 30px;
  padding: 5px;
  max-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid 2px #64748b;
  box-sizing: border-box;
}
.search-input {
  border: transparent;
  max-height: 30px;
  width: 200px;
  margin-left: 10px;
  box-sizing: border-box;
}
.password-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.show-password-checkbox {
  margin-left: auto;
  margin-right: 10px;
  font-size: 14px;
  padding: 5px;
}

.password-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.password-listitem {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  max-width: 250px;
  border: solid 2px #94a3b8;
  list-style-type: none;
  margin: 10px;
  border-radius: 10px;
  min-width: 250px;
}
.password-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.username-display {
  font-size: 13px;
  margin: 5px;
  margin-left: 0px;
}

.website-display {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.password-display {
  font-size: 13px;
  width: 80px;
  height: 10px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}
button {
  background-color: transparent;
  border: transparent;
}
.delete-button {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.delete-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  margin-left: auto;
  margin-right: 10px;
}
.no-password {
  height: 40vh;
}
.no-password-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
.no-password-text {
  font-size: 18px;
}

@media (max-width: 576px) {
  .no-password {
    height: 20vh;
  }
  .search-input {
    width: 150px;
  }
  .yourpasswords {
    font-size: 16px;
  }
}

.password-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
